In [1]:
import pandas as pd

In [2]:
annual_data = pd.read_csv("../Resources/annual_csv.csv")
annual_data.head()

    Source  Year    Mean
0     GCAG  2016  0.9363
1  GISTEMP  2016  0.9900
2     GCAG  2015  0.8998
3  GISTEMP  2015  0.8700
4     GCAG  2014  0.7408

In [3]:
#conditionals to narrow down years
cleaned_annual_data = annual_data.loc[(annual_data["Year"] <= 2016) & 
                                (annual_data["Year"] >= 1980), :]
cleaned_annual_data

     Source  Year    Mean
0      GCAG  2016  0.9363
1   GISTEMP  2016  0.9900
2      GCAG  2015  0.8998
3   GISTEMP  2015  0.8700
4      GCAG  2014  0.7408
..      ...   ...     ...
69  GISTEMP  1982  0.1300
70     GCAG  1981  0.2999
71  GISTEMP  1981  0.3300
72     GCAG  1980  0.2637
73  GISTEMP  1980  0.2700

[74 rows x 3 columns]

In [4]:
#exporting clean table to a new csv for future access
cleaned_annual_data.to_csv('Temperature_Delta_1986 to 2016.csv')