In [1]:
'''
Trevor Kleinstuber
'''

import pandas as pd
import os

In [2]:
# import data
file_path = os.path.join("..", "Resources", "emdat_public_2020_07_07_query_uid-X0uRMK.csv")
dis_df = pd.read_csv(file_path)
dis_df.head()

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Entry Criteria,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
0,1900-9002-CPV,1900,9002,Natural,Climatological,Drought,Drought,NaN,NaN,NaN,...,NaN,11000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261389
1,1900-9001-IND,1900,9001,Natural,Climatological,Drought,Drought,NaN,NaN,NaN,...,NaN,1250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261389
2,1902-0012-GTM,1902,12,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Kill,...,18.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,3.391845
3,1902-0003-GTM,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Kill,...,8.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.391845
4,1902-0010-GTM,1902,10,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Kill,...,24.0,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.391845

In [3]:
dis_df.columns

Index(['Dis No', 'Year', 'Seq', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Entry Criteria', 'Country', 'ISO', 'Region', 'Continent',
       'Location', 'Origin', 'Associated Dis', 'Associated Dis2',
       'OFDA Response', 'Appeal', 'Declaration', 'Aid Contribution',
       'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time',
       'River Basin', 'Start Year', 'Start Month', 'Start Day', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI'],
      dtype='object')

In [4]:
cut_df = dis_df[['Year',
       'Disaster Subgroup','Disaster Type','Country', 'ISO',
       'Start Year', 'End Year',
       'Total Deaths','Total Affected',
       'Total Damages (\'000 US$)']]
cut_df

,Year,Disaster Subgroup,Disaster Type,Country,ISO,Start Year,End Year,Total Deaths,Total Affected,Total Damages ('000 US$)
0,1900,Climatological,Drought,Cabo Verde,CPV,1900,1900,11000.0,NaN,NaN
1,1900,Climatological,Drought,India,IND,1900,1900,1250000.0,NaN,NaN
2,1902,Geophysical,Earthquake,Guatemala,GTM,1902,1902,2000.0,NaN,25000.0
3,1902,Geophysical,Volcanic activity,Guatemala,GTM,1902,1902,1000.0,NaN,NaN
4,1902,Geophysical,Volcanic activity,Guatemala,GTM,1902,1902,6000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
15514,2020,Meteorological,Storm,Vanuatu,VUT,2020,2020,4.0,NaN,NaN
15515,2020,Hydrological,Flood,Yemen,YEM,2020,2020,10.0,150030.0,NaN
15516,2020,Hydrological,Flood,Yemen,YEM,2020,2020,16.0,130.0,NaN
15517,2020,Hydrological,Flood,Congo (the Democratic Republic of the),COD,2020,2020,52.0,92580.0,NaN
15518,2020,Hydrological,Flood,Timor-Leste,TLS,2020,2020,NaN,9131.0,20000.0

In [5]:
cut_2 = cut_df[(cut_df['Start Year'] >= 1986) & (cut_df['End Year'] <= 2016)]

In [6]:
cut_df['Disaster Type'].unique()

array(['Drought', 'Earthquake', 'Volcanic activity',
       'Mass movement (dry)', 'Storm', 'Flood', 'Epidemic', 'Landslide',
       'Wildfire', 'Extreme temperature', 'Fog', 'Insect infestation',
       'Impact', 'Animal accident'], dtype=object)

In [7]:
cut_2

,Year,Disaster Subgroup,Disaster Type,Country,ISO,Start Year,End Year,Total Deaths,Total Affected,Total Damages ('000 US$)
2462,1986,Meteorological,Storm,Argentina,ARG,1986,1986,1.0,1000.0,NaN
2463,1986,Hydrological,Flood,Argentina,ARG,1986,1986,3.0,204000.0,NaN
2464,1986,Meteorological,Storm,Australia,AUS,1986,1986,NaN,NaN,5778.0
2465,1986,Meteorological,Storm,Australia,AUS,1986,1986,3.0,1012.0,70000.0
2466,1986,Meteorological,Storm,Australia,AUS,1986,1986,NaN,NaN,51000.0
...,...,...,...,...,...,...,...,...,...,...
15106,2016,Hydrological,Flood,United States of America (the),USA,2016,2016,5.0,NaN,2300000.0
15107,2016,Hydrological,Flood,Venezuela (Bolivarian Republic of),VEN,2016,2016,NaN,NaN,NaN
15108,2016,Biological,Epidemic,Viet Nam,VNM,2016,2016,27.0,79204.0,NaN
15109,2016,Hydrological,Flood,Viet Nam,VNM,2016,2016,21.0,206340.0,22000.0
15111,2016,Biological,Epidemic,South Sudan,SSD,2016,2016,15.0,NaN,NaN

In [9]:
cut_2.to_csv('../Cleaned Data/disasters.csv',index = False,header=True)