In [2]:
# Dependencies and setup
import pandas as pd
import pandas as pd
import numpy as np
import os

In [3]:
disaster_df = pd.read_csv("../Cleaned Data/disasters.csv")
disaster_df.head()

,Year,Disaster Type,Country,ISO,Start Year,End Year,Total Deaths,Total Affected,Total Damages ('000 US$)
0,1900,Drought,Cabo Verde,CPV,1900,1900,11000.0,NaN,NaN
1,1900,Drought,India,IND,1900,1900,1250000.0,NaN,NaN
2,1902,Earthquake,Guatemala,GTM,1902,1902,2000.0,NaN,25000.0
3,1902,Volcanic activity,Guatemala,GTM,1902,1902,1000.0,NaN,NaN
4,1902,Volcanic activity,Guatemala,GTM,1902,1902,6000.0,NaN,NaN

In [5]:
disaster_df = disaster_df.loc[(disaster_df["Year"] >= 1980) & 
                                (disaster_df["Year"] <= 2016), :]
disaster_df

,Year,Disaster Type,Country,ISO,Start Year,End Year,Total Deaths,Total Affected,Total Damages ('000 US$)
2084,1980,Drought,Côte d’Ivoire,CIV,1983,1983,NaN,NaN,NaN
2085,1980,Drought,Ghana,GHA,1983,1985,NaN,12500000.0,NaN
2086,1980,Drought,Benin,BEN,1983,1985,NaN,2100000.0,651.0
2087,1980,Drought,Gambia (the),GMB,1980,1985,NaN,500000.0,NaN
2088,1980,Flood,Afghanistan,AFG,1980,1980,NaN,30000.0,NaN
...,...,...,...,...,...,...,...,...,...
15107,2016,Flood,Venezuela (Bolivarian Republic of),VEN,2016,2016,NaN,NaN,NaN
15108,2016,Epidemic,Viet Nam,VNM,2016,2016,27.0,79204.0,NaN
15109,2016,Flood,Viet Nam,VNM,2016,2016,21.0,206340.0,22000.0
15110,2016,Epidemic,Vanuatu,VUT,2016,2017,NaN,351.0,NaN
15111,2016,Epidemic,South Sudan,SSD,2016,2016,15.0,NaN,NaN